/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import url(css/font-awesome.css);
@import url(css/bootstrap.min.css);
/*@import url(css/argon.min.css);*/

/*noinspection ALL*/
@font-face {
  font-family: Gilroy;
  src: url(fonts/Gilroy/Gilroy-Light\ 300.otf)
  format('opentype');
  font-weight: 100;
}

/*noinspection ALL*/
@font-face {
  font-family: Gilroy-bold;
  src: url(fonts/Gilroy/Gilroy-ExtraBold\ 800.otf)
  format('opentype');
  font-weight: 100;
}
@font-face {
  font-family: Nyata;
  src: url(fonts/Nyata/NyataFTR-Regular.otf)
  format('opentype');
  font-weight: 100;
}
@font-face {
  font-family: Nexa-light;
  src: url(fonts/Nexa/NexaLight350.otf)
  format('opentype');
  font-weight: 100;
}
@font-face {
  font-family: Google-Sans;
  src: url(fonts/Google/ProductSans-Light.ttf)
  format('truetype');
  font-weight: 100;
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /*background: #d8defa;*/
  /*background: #f2f7ff;*/
  background: rgba(230, 232, 234, 0.89);
  /*background: #f2f6f9;*/
  /*background: url("img/postit-ui-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

  width: 100vw;
  height: 100vh;
}

.br-20 {
  border-radius: 20px !important;
}
.br-5 {
  border-radius: 5px !important;
}
* {
  /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
  /*font-family: Gilroy;*/
  /*font-family: Nyata;*/
  font-family: Google-Sans;
  font-weight: 400;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading-gif {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: auto;
}
.nt-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nt-circle {
  /*font-size: .75rem;*/
  font-size: 14px;
  font-weight: 600;
  display:inline-flex;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0!important;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center
}

.nt-form-control
{
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;

  display: block;

  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: .625rem .75rem;

  transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);

  color: #8898aa;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}
@media (prefers-reduced-motion: reduce)
{
  .nt-form-control
  {
    transition: none;
  }
}
.nt-form-control::-ms-expand
{
  border: 0;
  background-color: transparent;
}
.nt-form-control:focus
{
  color: #8898aa;
  /*border-color: #5e72e4;*/
  border-color: rgba(215, 232, 255, 0.52);
  outline: 0;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(50, 50, 9, 0), 3px 4px 8px rgba(94, 114, 228, .1);
}
.nt-form-control::-ms-input-placeholder
{
  opacity: 1;
  color: #adb5bd;
}
.nt-form-control::placeholder
{
  opacity: 1;
  color: #adb5bd;
}
.nt-form-control:disabled,
.nt-form-control[readonly]
{
  opacity: 1;
  background-color: #e9ecef;
}

.br {
  border: 1px solid red;
}
.box-one{
  background: rgba(255, 255, 255, 0.9) !important;
  /*transition: all .15s ease;*/
}

.box-two {
  background: rgba(255, 255, 255, 0.26) !important;
}
.box-three{
  background: rgb(255, 255, 255) !important;
  /*transition: all .15s ease;*/
}
.black-box {
  background: rgba(43, 25, 61, 0.8) !important;
}
.box-primary {
  background: rgba(0, 123, 255, 0.1);
}
.box-success {
  background: rgba(40, 167, 69, 0.1);
}
.box-white {
  background: rgba(255, 255, 255, 0.1);
}
.box-dark {
  background: rgba(52, 58, 64, 0.1);
}
.cursor-pointer {
  cursor: pointer !important;
}
.c-bordered {
  /*border: 1px solid rgba(215, 232, 255, 0.52);*/
  border: 1px solid rgba(220, 220, 220, 0.52);
  border-radius: 5px;
  padding: 3px 0;
}
.hover-primary:hover {
  color: #0c6bd0 !important;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgba(210, 210, 210, 0.71);
  border-radius: 20px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(210, 210, 210, 0.82);
}

.bg-orange {
  background: #fa5c21;
}
.bg-orange:hover {
  background: orangered;
}
.shadow-c {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, 0.16) !important;
}
.font-nyata {
  font-family: Nyata !important;
}
.br-10 {
  border-radius: 10px !important;
}
.cursor-d {
  cursor: text !important;
}
.btn {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
}
.text-default-one {
  color: #2b193d!important;
}
.text-default-two {
  color: #2c365e!important;
}
.text-default-three {
  color: #484d6d!important;
}
.text-default-four {
  color: #4b8f8c!important;
}
.text-default-five {
  color: #c5979d!important;
}
.text-default-six {
  color: #30cfc0!important;
}
.bg-default-one {
  background: #2b193d!important;
}
.bg-default-two {
  background: #2c365e!important;
}
.bg-default-three {
  background: #484d6d!important;
}
.bg-default-four {
  background: #4b8f8c!important;
}
.bg-default-five {
  background: #c5979d!important;
}
.text-sm {
  font-size: .875rem!important
}
.wrapper-c {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /*align-items: center;*/
}

.add-button {
  opacity: 0.8;
}
.add-button:hover {
  opacity: 1;
}

.light-button {
  /*opacity: 0.2 !important;*/
  background: #eeeeee;
}
.light-button:hover {
  /*opacity: 0.3 !important;*/
  background: #e5e5e5;
}

.w-auto {
  width: max-content !important;
}
.btn-white {
  color: #212529;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)
}.btn-white:hover {
   color: #212529;
   border-color: #fff;
   background-color: #fff}
.btn-white.focus,.btn-white:focus {
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(255,255,255,.5)
}
.btn-white.disabled,.btn-white:disabled {
  color: #212529;
  border-color: #fff;
  background-color: #fff
}
.btn-white:not(:disabled):not(.disabled).active,.btn-white:not(:disabled):not(.disabled):active,.show>.btn-white.dropdown-toggle {
  color: #212529;
  border-color: #fff;
  background-color: #e6e6e6
}
.btn-white:not(:disabled):not(.disabled).active:focus,.btn-white:not(:disabled):not(.disabled):active:focus,.show>.btn-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(255,255,255,.5);
}
.bg-gradient-primary {
  background: linear-gradient(35deg, #5e72e4 0, #825ee4 100%) !important;
}

.bg-gradient-secondary {
  background: linear-gradient(35deg, #f4f5f7 0, #f4f4f7 100%) !important;
}

.bg-gradient-success {
  background: linear-gradient(35deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-info {
  background: linear-gradient(35deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-warning {
  background: linear-gradient(35deg, #fb6340 0, #fbb140 100%) !important;
}

.bg-gradient-danger {
  background: linear-gradient(35deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-light {
  background: linear-gradient(35deg, #adb5bd 0, #adaebd 100%) !important;
}

.bg-gradient-dark {
  background: linear-gradient(35deg, #212529 0, #212229 100%) !important;
}

.bg-gradient-default {
  background: linear-gradient(35deg, #172b4d 0, #1a174d 100%) !important;
}

.bg-gradient-white {
  background: linear-gradient(35deg, #fff 0, white 100%) !important;
}

.bg-gradient-neutral {
  background: linear-gradient(35deg, #fff 0, white 100%) !important;
}

.bg-gradient-darker {
  background: linear-gradient(35deg, black 0, black 100%) !important;
}

.bg-gradient-blue {
  background: linear-gradient(35deg, #5e72e4 0, #825ee4 100%) !important;
}

.bg-gradient-indigo {
  background: linear-gradient(35deg, #5603ad 0, #9d03ad 100%) !important;
}

.bg-gradient-purple {
  background: linear-gradient(35deg, #8965e0 0, #bc65e0 100%) !important;
}

.bg-gradient-pink {
  background: linear-gradient(35deg, #f3a4b5 0, #f3b4a4 100%) !important;
}

.bg-gradient-red {
  background: linear-gradient(35deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-orange {
  background: linear-gradient(35deg, #fb6340 0, #fbb140 100%) !important;
}

.bg-gradient-yellow {
  background: linear-gradient(35deg, #ffd600 0, #beff00 100%) !important;
}

.bg-gradient-green {
  background: linear-gradient(35deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-teal {
  background: linear-gradient(35deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-cyan {
  background: linear-gradient(35deg, #2bffc6 0, #2be0ff 100%) !important;
}

.bg-gradient-white {
  background: linear-gradient(35deg, #fff 0, white 100%) !important;
}

.bg-gradient-gray {
  background: linear-gradient(35deg, #8898aa 0, #888aaa 100%) !important;
}

.bg-gradient-gray-dark {
  background: linear-gradient(35deg, #32325d 0, #44325d 100%) !important;
}

.bg-gradient-light {
  background: linear-gradient(35deg, #ced4da 0, #cecfda 100%) !important;
}

.bg-gradient-lighter {
  background: linear-gradient(35deg, #e9ecef 0, #e9eaef 100%) !important;
}

.bg-translucent-primary {
  background-color: rgba(63, 87, 223, 0.6) !important;
}
.shadow--hover:hover {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}
.shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}
.preview-box {
  width: 100%;
  height: max-content;
  border-radius: 5px;
  background-color: rgba(230, 232, 234, 0.4);
  border: 1px solid #eeeeee;
}
.p-nav {
  width: 100%;
  height: 30px;
  background-color: rgba(230, 232, 234, 0.8);
  border: 1px solid #eeeeee;
  border-radius: 5px;
}
.p-side {
  width: 30%;
  height: 200px;
  background-color: rgb(230, 232, 234);
  border: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
}
.theme-holder {
  width: 3.5rem !important;
  height: 3.5rem !important;
  border-radius: 20px;
}
.bg-antiquewhite {
  background-color: antiquewhite !important;
}
.bg-antiquewhite-one {
  background-color: rgba(250, 235, 215, 0.8) !important;
}
.bg-antiquewhite-two {
   background-color: rgba(250, 235, 215, 0.4) !important;
 }
.bg-aqua {
  background-color: aqua !important;
}
.bg-aqua-one {
  background-color: rgba(0, 255, 255, 0.8) !important;
}
.bg-aqua-two {
  background-color: rgba(0, 255, 255, 0.4) !important;
}
.bg-pink {
  background-color: pink !important;
}
.bg-pink-one {
  background-color: rgba(255, 192, 203, 0.8) !important;
}
.bg-pink-two {
  background-color: rgba(255, 192, 203, 0.4) !important;
}
.bg-skyblue {
  background-color: skyblue !important;
}
.bg-skyblue-one {
  background-color: rgba(135, 206, 235, 0.8) !important;
}
.bg-skyblue-two {
   background-color: rgba(135, 206, 235, 0.4) !important;
 }
.bg-navy {
  background-color: navy !important;
}
.bg-navy-one {
  background-color: rgba(0, 0, 128, 0.8) !important;
}
.bg-navy-two {
  background-color: rgba(0, 0, 128, 0.4) !important;
}
.bg-primary-one {
  background-color: rgba(0, 123, 255, 0.8) !important;
}
.bg-primary-two {
  background-color: rgba(0, 123, 255, 0.4) !important;
}
.bg-warning-one {
  background-color: rgba(255, 193, 7, 0.8) !important;
}
.bg-warning-two {
  background-color: rgba(255, 193, 7, 0.4) !important;
}
.bg-danger-one {
  background-color: rgba(220, 53, 69, 0.8) !important;
}
.bg-danger-two {
  background-color: rgba(220, 53, 69, 0.4) !important;
}
.bg-info-one {
  background-color: rgba(23, 162, 184, 0.8) !important;
}
.bg-info-two {
  background-color: rgba(23, 162, 184, 0.4) !important;
}
.bg-postit {
  background-color: rgb(255, 255, 255) !important;
}
.bg-postit-one {
  background-color: rgb(255, 255, 255) !important;
}
.bg-postit-two {
  background-color: rgba(230, 232, 234, 0.4) !important;
}
.bg-light-one {
  background-color: rgba(248, 249, 250, 0.8) !important;
}
.bg-light-two {
  background-color: rgba(248, 249, 250, 0.4) !important;
}
.bg-dark-one {
  background-color: rgba(52, 58, 64, 0.8) !important;
}
.bg-dark-two {
  background-color: rgba(52, 58, 64, 0.4) !important;
}
.bg-success-one {
  background-color: rgba(40, 167, 69, 0.8) !important;
}
.bg-success-two {
  background-color: rgba(40, 167, 69, 0.4) !important;
}
.dark-text-muted {
  color: #e7e7e7 !important
}
@media screen and (max-width: 576px) {
  /*#post_alert {
    position: fixed;
    max-width: 350px;
    min-width: 300px;
    width: 350px;
    margin: 0 auto;
  }*/
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c5c6c6;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/*
<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>*/

.lds-ring {
  display: contents;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  /*margin: 8px;*/
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
<div class="lds-ring"><div></div><div></div><div></div><div></div></div>*/
.drop-fade {
  opacity: 0;
  animation-name: drop-fade;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes drop-fade {
  from {
    opacity: 0;
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: initial;
  }
}
.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-right {
  opacity: 0;
  animation-name: slide-right;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes slide-right {
  from {
    opacity: 0;
    margin-right: -50px;
  }
  to {
    opacity: 1;
    margin-right: 0;
  }
}
.slide-left {
  opacity: 0;
  animation-name: slide-left;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes slide-left {
  from {
    opacity: 0;
    margin-left: -50px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #8c8c8c;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}